In [274]:
import pandas as pd
import numpy as np
from io import StringIO

np.arange(0,9).reshape([3,3])

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [274]:
import pandas as pd
import numpy as np
from io import StringIO

np.arange(0,9).reshape([3,3])

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [270]:
df=pd.DataFrame(data=np.arange(0,9).reshape(3,3),index=["row1","row2","row3"],columns=["col1","col2","col3"])
print(df)
df[["col1","col2","col3"]]

      col1  col2  col3
row1     0     1     2
row2     3     4     5
row3     6     7     8

      col1  col2  col3
row1     0     1     2
row2     3     4     5
row3     6     7     8

In [272]:
# using column  indexing
df=pd.DataFrame(data=np.arange(0,9).reshape(3,3),index=["row1","row2","row3"],columns=["col1","col2","col3"])
df[["col1","col2"]]

      col1  col2
row1     0     1
row2     3     4
row3     6     7

In [206]:
# using row indexing
df=pd.DataFrame(data=np.arange(0,9).reshape(3,3),index=["row1","row2","row3"],columns=["col1","col2","col3"])
print(df)
df.loc[["row1","row2"]]

      col1  col2  col3
row1     0     1     2
row2     3     4     5
row3     6     7     8

      col1  col2  col3
row1     0     1     2
row2     3     4     5

In [262]:
# using row indexing
df=pd.DataFrame(data=np.arange(0,9).reshape(3,3),index=["row1","row2","row3"],columns=["col1","col2","col3"])
df.iloc[1:,1:]

      col2  col3
row2     4     5
row3     7     8